.title-div {
    background-color: #e3f2fd;
    color: #64b5f6;
    font-family: sans-serif;
    padding: 1px;
}

.center-container {
    margin-top: 40px;
    text-align: center;
}

.slider {
    height: 25px;
    border-radius: 6px;
    outline: none;
    margin-left: 260px;
    width: 4%;
    float: left;
}

.size {
    height: 40px;
    border-radius: 8px;
    border: 1px solid #eeeeee;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.vranger {
    margin-top: 50px;
    transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    min-height: 40%;

}

.text-pixel {
    margin-left: 250px;
}

.grid-container {
    margin-right: 20%;
}

table,
tr,
td {
    border: 1px solid rgb(179, 176, 176);
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6rem;
}